{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="span12">
            <h2>Livraison</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        {%  if user.userAddress|length != 0  %}
                        <form action="{{ path('validate') }}" method="POST">
                            <h4>Adresse de livraison</h4>
                            {% for address in user.userAddress %}
                            <label class="radio">
                                <input type="radio" name="deliver" id="optionsRadios1" value="{{ address.id }}" {% if loop.index0 == 0 %} checked="checked" {% endif %}>
                                {{ address.addresse }}, {{ address.cp }}, {{ address.ville }} <br>
                                {{ address.pays }}, {{ address.prenom }} {{ address.nom }} <a href="{{ path('delete_address_deliver', {'id' : address.id }) }}"><i class="icon-trash"></i></a>
                            </label>
                            {% endfor %}
                            <br>
                            <h4>Adresse de facturation</h4>
                            {% for address in user.userAddress %}
                            <label class="radio">
                                <input type="radio" name="bill" id="optionsRadios1" value="{{ address.id }}" {% if loop.index0 == 0 %} checked="checked" {% endif %}>
                                {{ address.addresse }}, {{ address.cp }}, {{ address.ville }} <br>
                                {{ address.pays }}, {{ address.prenom }} {{ address.nom }} <a href="{{ path('delete_address_deliver', {'id' : address.id }) }}"><i class="icon-trash"></i></a>
                            </label>
                            {% endfor %}
                            <br>
                            <button class="btn btn-primary">Valider mes addresses</button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="span4 offset2">
                        <h4>Ajouter une nouvelle adresse</h4>
                        <form action="{{ path('deliver') }}" method="POST">
                            {{ form(form) }}
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}