<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}HitechElectronics{% endblock %}</title>
        <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
        <meta name="description" content="{% block description %}{% endblock %}"/>

        <link href="{{ asset('templates/css/shop-homepage.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('templates/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('templates/css/bootstrap/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('templates/css/bootstrap/bootstrap.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('templates/css/fontawesome/fontawesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('templates/css/fontawesome/fontawesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('templates/css/fontawesome/all.css') }}"/>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('list_product') }}" style="color: #0000cc">HitechElectronics</a>
                {{ render(controller('EcommerceEcommerceBundle:Products:search')) }}
            </div>
        </nav>
        <div class="container">
            <div class="row">
                {% block body %}

                {% endblock %}
            </div>
        </div>

        <footer class="py-5 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Informations</h4>
                        <ul class="" style="list-style-type: none;">
                            {{ render(controller('PagesPagesBundle:Pages:menu')) }}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Our Local</h4>
                        <p><i class="icon-map-marker"></i>&nbsp;{{ localisation }}</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Contact Us</h4>
                        <p><i class="icon-phone"></i>&nbsp;Tel: {{ phone }}</p>
                        <p><i class="icon-print"></i>&nbsp;Fax: {{ fax }}</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="" style="color: white">
                    <p class="text-center">&copy;Copyright {{ "now"|date('Y') }} - {{ Enterprise }}</p>
                </div>
            </div>
        </footer>
        <script src="{{ asset('templates/js/jquery/jquery-1.10.0.min.js') }}"></script>
        <script src="{{ asset('templates/js/bootstrap/bootstrap.js') }}"></script>
        <script src="{{ asset('templates/js/bootstrap/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
