<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('templates/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('templates/css/bootstrap-responsive.css') }}" />
    <link rel="stylesheet" href="{{ asset('templates/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('templates/css/font-awesome.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('list_product') }}">HitechElectronics</a>
            <div class="nav-collapse collapse">
                <form class="navbar-form form-search pull-right">
                    <input id="Search" name="Search" type="text" class="input-medium search-query">
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% block body %}

{% endblock %}
<hr />
<footer id="footer" class="vspace20">
    <div class="container">
        <div class="row">
            <div class="span4 offset1">
                <h4>Informations</h4>
                <ul class="nav nav-stacked">
                    <li><a href="{{ path('pages', {'id' : 1}) }}">CGV</a>
                    <li><a href="{{ path('pages', {'id' : 2}) }}">Mentions legacy</a>
                </ul>
            </div>

            <div class="span4">
                <h4>Our Local</h4>
                <p><i class="icon-map-marker"></i>&nbsp;Douala Koumassi</p>
            </div>

            <div class="span2">
                <h4>Contact Us</h4>
                <p><i class="icon-phone"></i>&nbsp;Tel: 6 90 71 09 15</p>
                <p><i class="icon-print"></i>&nbsp;Fax: 6 94 99 12 97</p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <p>&copy; Copyright 2020 - HitechElectronics</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('templates/js/jquery-1.10.0.min.js') }}"></script>
<script src="{{ asset('templates/js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
