{% extends 'baseAdmin.html.twig' %}

{% block body %}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Command's list
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="dataTables">
{#                {{ dump(commandes) }}#}
                <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.reference }}</td>
                        <td>{{ commande.date|date('d/m/Y') }}</td>
                        <td>{{ commande.users.username }}</td>
                        <td><a href="{{ path('adminShowBill', { 'id' : commande.id }) }}" target="_blank"><i class="fa fa-book-reader"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
