{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="span3">
                {# Appel de layout navigation dans les categories et de module de connexion d'utilisateur #}
                {% include 'layout/navigation.html.twig' %}
                {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
                    {% include 'UsersUsersBundle:Default/modulesUsed:usersConnected.html.twig' %}
                {% else %}
                    {% include 'UsersUsersBundle:Default/modulesUsed:usersAction.html.twig' %}
                {% endif %}
                {{ render(controller('EcommerceEcommerceBundle:Basket:menu')) }}
            </div>
            <div class="span9">
                {# Si pas de produit alos aucun produit trouve #}
            {% if(products|length != 0) %}
                <ul class="thumbnails">
                    {% for product in products %}
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="{{ product.image.path }}" alt="{{ product.name }}" width="300" height="150">
                                <div class="caption">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.price|tva(product.tva.multiplicate) }} FCFA</p>
                                    <a class="btn btn-primary" href="{{ path('product_info', { 'id' : product.id }) }}">More Details</a>
                                    {% if(basket[product.id] is not defined) %}
                                    <a class="btn btn-success" href="{{ path('add_basket', { 'id' : product.id }) }}">Add in Basket</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Previous</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            {% else %}
                Not found products
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}