{% extends "base.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}

{% block body %}
        <div class="col-lg-3">
            {% include 'layout/navigation.html.twig' %}
            {{ render(controller('EcommerceEcommerceBundle:Basket:menu')) }}
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="span5 mb-3">
                    <img src="{{ product.image.path }}" alt="DevAndClick" width="470" height="310">
                </div>

                <div class="span4">
                    <h4>{{ product.name }}</h4>
                    <h5>{{ product.category.nom }}</h5>
                    <p>{{ product.description }}</p>
                    <h4>{{ product.price|tva(product.tva.multiplicate) }} FCFA</h4>
{# Si le product.id de la session basket qui represente le panier n'est pas defini alors, on peut l'ajouter par le formulaire
Sinon, l'on affiche le message #}
                    {% if(basket[product.id] is not defined) %}
                    <form action="{{ path('add_basket', { 'id' : product.id }) }}" method="GET">
                        <label>
                            <select name="qty" class="span1">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {%  endfor %}
                            </select>
                        </label>
                        <div>
                            <button class="btn btn-primary">Add in Basket</button>
                        </div>
                    </form>
                    {% else %}
                        This Product is already in your basket
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}