{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Page's list
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTables">
                    <thead>
                    <tr>
                        <th>Title</th>
{#                      <th>Content</th>#}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.title }}</td>
{#                           <td>{{ page.content }}</td>#}
                            <td>
                                <a href="{{ path('adminPages_show', { 'id': page.id }) }}"><i class="fa fa-book-reader"></i></a> |
                                <a href="{{ path('adminPages_edit', { 'id': page.id }) }}"><i class="fa fa-pen"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{{ path('adminPages_new') }}" class="btn btn-primary my-3" style="float: right;">Create a new page</a>
    </div>



{% endblock %}
