<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <title>Bill {{ bill.commande.deliver.nom }} {{ bill.commande.deliver.prenom }}</title>
        <link href="{{ asset('templates/css/bill.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>BILL</h1>
            <h2>HitechElectronics</h2>
        </header>
        <section class="flex">
            <dl>
                <dt>Bill #</dt>
                <dd>{{ bill.reference }}</dd>
                <dt>Billing's date</dt>
                <dd>{{ bill.date|date('d/m/Y') }}</dd>
            </dl>
        </section>
        <section class="flex">
            <dl class="bloc">
                <dt>Bill to</dt>
                <dd>{{ bill.commande.deliver.nom }}
                    {{ bill.commande.deliver.prenom }}
                    {{ bill.commande.deliver.addresse }}
                    {{ bill.commande.deliver.cp }} {{ bill.commande.deliver.ville }} {{ bill.commande.deliver.pays }}
                </dd>
                <dt>Billing's date</dt>
                <dd>{{ bill.date|date('d/m/Y') }}</dd>
            </dl>
        </section>
        <table>
            <thead>
                <tr>
                    <th>DESIGNATION</th>
                    <th>QUANTITY</th>
                    <th>P.U - HT</th>
                    <th>AMOUNT HT</th>
                    <th>AMOUNT TTC</th>
                </tr>
            </thead>
            <tbody>
            {% for product in bill.commande.product %}
                <tr>
                    <td class="color">{{ product.reference }}</td>
                    <td class="color">{{ product.quantity }}</td>
                    <td class="color">{{ product.priceHT }}</td>
                    <td class="color">{{ product.priceHT * product.quantity }}</td>
                    <td class="color">{{ product.priceTTC * product.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>(colspan="3") − Faire les chèques payable au nom Ndoum Samuel</td>
                    <td style="width: 110px">TOTAL HT: </td>
                    <td style="width: 100px" class="color">{{ bill.commande.priceHT }}FCFA</td>
                    {% for key, tva in bill.commande.tva %}
                        <td style="width: 110px">TVA: <span class="color min">{{ key }}</span></td>
                        <td style="width: 100px" class="color">{{ tva }} FCFA</td>
                    {% endfor %}
                    <td style="width: 110px">TOTAL TTC: </td>
                    <td style="width: 100px" class="color">{{ bill.commande.priceTTC }} FCFA</td>
                </tr>
            </tfoot>
        </table>
        <footer>
           <p>
               {{ localisation }}
               {{ phone }}
               {{ fax }}
           </p>
        </footer>
    </body>
</html>